@import "variables";

/* CARD ITEM */
.card {
  width: 100%;
  height: 100%;
  max-height: 400px;
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  transition: $general-transition;
  background: darken($bg-color, 30%);
  border-radius: 12px;
  border-top: 2px solid $green-color;
  box-shadow: 3.4px 6.9px 6.9px hsl(0deg, 0%, 0% / 0.39);

  &:hover {
    background: linear-gradient(
      lighten($green-color, 10%),
      lighten($green-color, 20%)
    );
    transition: $general-transition;

    .card-thumbnail {
      border-bottom: 3px solid rgb(182, 172, 172) !important;
      transition: $general-transition;
    }
  }

  &-thumbnail {
    height: 60%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      padding: 0.9rem;
      border-radius: 12px;
    }
    border-bottom: 3px solid $green-color;
  }

  &-content {
    padding: 0.4rem;
    color: $black-color;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    &-title {
      text-align: center;
      font-size: 0.8rem;
      font-weight: 600;
      margin-bottom: 0.4rem;
      text-transform: uppercase;
    }
    &-body {
      font-size: 0.75rem;
      text-align: justify;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }
}

/* Loader spinner appear while data are fetching */
.loader {
  border: 9px solid #f3f3f3;
  border-top: 9px solid $green-color;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  display: block;
  margin-top: 5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* For hide to spinner when fetching done */
.hide {
  display: none;
}

.typing-header {
  width: 56ch;
  animation: typing 3s steps(56), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2rem;
  font-weight: 600;
  color: $blue-color;
  letter-spacing: 1px;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
