/* Variables */
$bg-color: #7e7777;
$gray-color: #302828;
$blue-color: #a52c3c;
$light-blue-color: #302828;
$green-color: #932432;
$black-color: #f3f3f3ab;

$primary-font: "Raleway", sans-serif;

$general-transition: all 0.5s;
// $bg-color: rgb(220, 236, 245);
// $gray-color: hsla(252, 51%, 85%, 0.397);
// $blue-color: hsl(212, 75%, 37%);
// $light-blue-color: hsl(208, 83%, 78%);
// $green-color: hsla(115, 73%, 71%, 0.925);
// $black-color: #221f1f;

// $primary-font: "Open-sans", sans-serif;

// $general-transition: all 0.5s;
