/* Variables */
$bg-color: #7e7777;
$gray-color: #302828;
$blue-color: #a52c3c;
$light-blue-color: #302828;
$green-color: #932432;
$black-color: #f3f3f3ab;

$primary-font: "Raleway", sans-serif;

$general-transition: all 0.5s;
